@font-face {
	font-family: "sajat";
	src: url("Orbitron-Medium.ttf");
}

@font-face {
	font-family: "sajat2";
	src: url("public-sans.light.ttf");
}

* {
	box-sizing: border-box;
}

/*MAIN*/
html {
	/*háttér*/
	background-image: url("statue.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

body {
	font-family: "sajat2";
	margin: 0;
	padding: 0;
	color: #8169fd;
}

header {
	margin: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-family: "sajat";
}

p {
	font-size: 20px;
}

/*Index*/
.announcement {
	text-transform: uppercase;
	background: rgba(227, 206, 244, 0.4);
	/*átlátszóság az effektus miatt*/
	position: sticky;
	/*fix pozíció a lap tetején*/
	top: 0;
	margin: 0;
	padding: 20px 0 20px 20px;
	-webkit-backdrop-filter: blur(10px);
	/*üveg effektus*/
	backdrop-filter: blur(10px);
	/*üveg effektus*/
	font-family: "sajat";
}

.announcement a {
	text-decoration: none;
	color: white;
}


.header1 { /*flexbox az elrendezés miatt*/
	margin: 0;
	padding-left: 5px;
	text-transform: uppercase;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	line-height: 0.9;
	max-height: 100%;
	width: auto;
}

.logo {
	filter: invert(100%) brightness(1500%);
	height: 200px;
	width: auto;
}

.ph {
	/*GAME + YEAR*/
	font-size: 75px;
	margin: 0;
	padding: 0;
}

.phsub {
	/*of the*/
	margin: 0;
	padding: 0;
	font-size: 35px;
}

nav {
	margin-top: 150px;
	font-family: "sajat";
}

nav ul {
	margin: 0;
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding: 0 20px 10px 20px;
}

nav li a {
	display: block;
	padding: 8px;
	margin-bottom: 12px;
	color: #e3cef4;
	background-color: #070015;
	border-radius: 15px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
}

nav ul li a.active {
	background-color: #e3cef4;
	color: #070015;
}

nav li a:hover {
	background-color: #fe0035;
}

section {
	display: flex;
	flex-direction: column;
	margin-bottom: 150px;
	/*látszódjon alul a háttérkép*/
	max-width: 100%;
	background-color: #16042a;

}

h2 {
	font-size: 35px;
	font-family: "sajat";
	margin-bottom: 10px;
	color: #fe0035;
}

article {
	padding: 60px
}

footer {
	text-align: center;
	padding: 1.5rem 0;
	background-color: #070015;
	color: #e0e0e0;
	border-top: 2px solid #e3cef4;
	font-family: "sajat";
}
/*Index vége*/

/*Archive*/
.arch { /*h2*/
	text-align: center;
	padding: 50px;
	margin: 0;
}

.arc { /*gombok flex parentje*/
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

.gomb {
	cursor: pointer;
	margin: 20px;
	width: 200px;
	height: 200px;
	background-color: #070015;
	border: #fe0035 solid 3px;
	color: #e3cef4;
	font-size: 30px;
	font-family: "sajat";
}

.gomb:hover {
	background-color: #fe0035;
	border: #e3cef4 solid 3px;
	color: #e3cef4;
}

/* mouse over */
.gomb:focus {
	background-color: #e3cef4;
	border: #fe0035 solid 3px;
	color: #070015;
}

.winner { /*kép + leírás*/
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;

}

figure {
	flex-basis: 100%;
	max-width: 100%;
	max-height: 100%;
	margin: 0;
	padding: 0;
	/*a kép kitölti a helyet*/

}

figure img {
	max-width: 100%;
	height: auto;
	/*a kép kitölti a helyet*/
}

.winnerp {
	flex-basis: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
/*Archive vége*/

/*Form*/
.sectionv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.img1,
.img2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 750px;
	flex-basis: 60%;
}

.img1 img,
.img2 img {
	min-height: 0;
	max-width: 300px;
	height: auto;
	flex-basis: 30%;
}

form {
	font-family: "sajat";
	font-size: 20px;
	text-align: center;
	flex-basis: 100%;
	line-height: 50px;
}

form input,
form select { /*beviteli elemek*/
	height: 20px;
}

textarea {
	background-color: #e3cef4;
}

input,
select,
option { /*beviteli elemek*/
	background-color: #e3cef4;
	margin: 5px;
}

.notif {
	font-size: 15px;
}

input[type=submit],
input[type=reset] {
	cursor: pointer;
	height: 30px;
	width: 100px;
	padding: 5px;
	text-align: center;
}

input[type=submit]:hover,
input[type=reset]:hover {
	background-color: #fe0035;
	color: #e3cef4;
}

label.error {
	font-size: 14px;
	color: #ffc203;
	opacity: 0.5;
	font-style: italic;
}
/*Form vége*/

/*JQUERY*/
.slider {
	width: 80%;
	min-width: 100px;
	margin: 50px auto;
}

.slick-slide {
	margin: 0px 5px;
}

.slick-slide img {
	width: 100%;
}

.slick-slide {
	transition: all ease-in-out .3s;
	opacity: .2;
}

.slick-active {
	opacity: .5;
}

.slick-current {
	opacity: 1;
}
/*JQUERY VÉGE*/

/*javascript slider paragrafus cseréje*/
.paragraph {
	display: none;
	margin-top: 20px;
}

.paragraph.active {
	display: block;
}

/*2024*/
#slider-description {
	text-align: center;
}

/* Reszponzivitás */
/*tablet*/
@media screen and (min-width: 600px) and (max-width: 768px) {
	header {
		height: 400px;
		justify-content: flex-start;
	}

	.logo {
		margin: 100px 0 100px 0;
	}

	.arc {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.gomb {
		width: 200px;
		height: 200px;
	}

	.winner {
		margin: 0 100px 0 100px;
		padding: 0;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;

	}

	figure {
		flex-basis: 40%;
		padding-right: 50px;
	}

	.winnerp {
		flex-basis: 60%;
		font-size: 20px;
	}

	.paragraph {
		text-align: center;
		padding: 30px;
	}

	nav {
		margin-top: 0;
	}

	nav ul {
		flex-direction: row;
		justify-content: space-between;
		padding-bottom: 0;
	}

	nav ul li {
		flex-basis: 24%;
	}

	/*form*/
	.sectionv {
		flex-direction: row;
	}

	.img1 {
		order: 1;
	}

	form {
		order: 2;
	}

	.img2 {
		order: 3;
	}

	.img1 img,
	.img2 img {
		min-height: 0;
		max-height: 100%;
		width: auto;
		flex-basis: 30%;
	}
}


/*Számítógép*/
@media screen and (min-width: 768px) {
	header {
		height: 400px;
		justify-content: flex-start;
	}

	.logo {
		margin: 100px 0 100px 0;
	}

	.arc {
		flex-direction: row;
		justify-content: center;
	}

	.winner {
		margin: 0 100px 0 100px;
		padding: 0;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;

	}

	figure {
		flex-basis: 30%;
		padding-right: 50px;
	}

	#winnerImage {
		width: 100%;
		height: auto;
	}

	.winnerp {
		flex-basis: 60%;
		font-size: 20px;
	}

	.paragraph {
		text-align: center;
		padding: 30px;
	}

	nav {
		margin-top: 0;
	}

	nav ul {
		flex-direction: row;
		justify-content: space-between;
		padding-bottom: 0;
	}

	nav ul li {
		flex-basis: 24%;
	}

	/*form*/
	.sectionv {
		flex-direction: row;
	}

	.img1 {
		order: 1;
	}

	form {
		order: 2;
	}

	.img2 {
		order: 3;
	}

	.img1 img,
	.img2 img {
		min-height: 0;
		max-height: 100%;
		width: auto;
		flex-basis: 30%;
	}
}